@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

body {
    background-color: #1B1B1B;
    color: white;
    font-family: "Roboto", serif;
    width: 1000px;
    margin: auto;
  }

  .panel {
    background-color: #313131;
    border-radius: 30px;
  }

  @media screen and (prefers-color-scheme: light) {
    body {
      background-color: white;
      color: black;
    }

    .panel {
      background-color: #FAFAFA;
    }
  }

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  justify-content: center;
}

h1 {
  font-size: 6em;
  animation: fadeIn 3s;
  animation-timing-function: ease-in;
}

.sectionStart {
  text-align: center;
}

.date {
  float: inline-end;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 3em;
  margin-bottom: 3em;
}

p {
  margin: 1em 2em;
}

ul {
  margin: 1em 2em;
}

h3 {
  margin: 1em 2em;
}