/* animation for fading in name on page */
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* setting default colors, text, and margins */
body {
    background-color: #1B1B1B;
    color: white;
    font-family: "Roboto", serif;
    width: 1000px;
    margin: auto;
  }

  /* default colors for panels */
  .panel {
    background-color: #313131;
    border-radius: 30px;
  }
  
  /* media query to check for light mode on browser and switch website theme accordingly */
  @media screen and (prefers-color-scheme: light) {
    body {
      background-color: white;
      color: black;
    }

    .panel {
      background-color: #FAFAFA;
    }
  }

  /* formatting for header class */
.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  justify-content: center;
}

/* adding fade animation to name on webpage */
h1 {
  font-size: 6em;
  animation: fadeIn 3s;
  animation-timing-function: ease-in;
}

/* alight panel title text to center */
.panelTitle {
  text-align: center;
}

/* move date text to far right of panel */
.date {
  float: inline-end;
}

/* use flexbox to set up desired spacing of panels */
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 3em;
  margin-bottom: 3em;
}

/* margins for remaining text in panels */
p {
  margin: 1em 2em;
}

ul {
  margin: 1em 2em;
}

h3 {
  margin: 1em 2em;
}